<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- link to stylesheet --}}
    <title>Tech Blog</title>
</head>
<body>
  <header>
    <h1>Tech Blog</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
    <button id="dashboard" class="btn-no-style"><a href="/dashboard">Dashboard</a></button>
  </nav>
  <main>
    <div class="all-posts">
      {{{body}}}
    </div>
  </main>
  <footer>
      <p>Presented by Blogger Gal</p>
  </footer>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>

<!-- if extra time: add a hello, user button for when loggedIn -->